<h1>Page is up and running!</h1>

<section>
<div id="uniDiv1">
  <h2 class="divHead">People With Former Education</h2>
  {{#users}}
  {{#university}}
  <div class="educationDiv">
    <img  class="uniImgs" src="{{avatar}}">
  </div>
  <div class="eduNameEmail">
    <h2>{{name}}</h2>
    <p>{{email}}</p>
  </div>
  {{/university}}
  {{/users}}
</div>
</section>
