<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>This is going to work !</title>
  </head>
  <body>
    <ul id="mainUl">
      {{#users}}
      <li class="listItems">
        <img class="imgs" src="{{avatar}}">
        <p class="userName">{{username}}</p>
        <p class="name">{{name}}</p>
        <p class="email">{{email}}</p>
        <!-- {{#university}}
        <p class="education">{{university}}</p>
        {{/university}}
        {{^university}}
        <br>
        {{/university}} -->
        {{#job}}
        <p class="jobs">{{job}}</p>
        {{/job}}
        {{^job}}
        <p class="hireMe">Available for Hire!</p>
        {{/job}}
      </li>
      {{/users}}
    </ul>
    <section>
    <div id="uniDiv1">
      <h2 class="divHead">People With Former Education</h2>
      {{#users}}
      {{#university}}
      <div class="educationDiv">
        <img  class="uniImgs" src="{{avatar}}">
      </div>
      <div class="eduNameEmail">
        <h2>{{name}}</h2>
        <p>{{email}}</p>
      </div>
      {{/university}}
      {{/users}}
    </div>
    </section>
  </body>
</html>
