<h1>Robots Looking for Work</h1>

<ul id="mainUl">
  {{#users}}
    {{^job}}
      <li class="listItems">
        <img class="imgs" src="{{avatar}}">
        <p class="userName">{{username}}</p>
        <p class="name">{{name}}</p>
        <p class="email">{{email}}</p>
        {{#university}}
        <p class="education">{{university}}</p>
        {{/university}}
        <!-- {{^university}}
        <br>
        {{/university}} -->
        <p class="hireMe">Available for Hire!</p>
      </li>
    {{/job}}
  {{/users}}
</ul>
