#mainUl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.listItems {
  border: 1px solid lightblue;
  margin: 8px;
  list-style: none;
  width: 20vw;
}
.hireMe {
  color: red;
  font-size: 1.2em;
}
#uniDiv1 {
  display: flex;
  flex-wrap: wrap;
}
.divHead {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
.educationDiv {
  display: flex;
  width: 30vw;
}
.uniImgs {
  border: .5px solid black;
  border-radius: 5em;
}
